<html ng-app='open-weather'>
  <head>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" style='text/css'>
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" style='text/css'>
    <link rel="stylesheet" href="assets/css/animate-3.4.0.css" style='text/css'>
    <link rel="stylesheet" href="assets/css/open-weather-map.css" style='text/css'>
  </head>
  <body class='container'>
    <div class='page-header'>
      <h1 class='animated rollIn'>Open Weather Map Data Retriever</h1>
      <p>By: Lovell McIlwain</p>
    </div>

    <div class='row' ng-controller='city1Controller as city1Ctrl'>
      <div class='col-md-4'>
        <h3>City 1: {{city1Ctrl.city || city1Ctrl.current_city.name}}</h3>
        <form name='cityForm1' ng-submit='cityForm1.$valid && city1Ctrl.getData(city1Ctrl.city)' class='animated zoomIn'>
          <div class='form-group well'>
            <input type="text" class="form-control" id="city1" placeholder="Enter City Name" ng-model='city1Ctrl.city'  required autofocus><br />
            <button type="submit" class="btn btn-default btn-sm" ng-click='cityForm1.$setPristine()'>Submit</button>
          </div>
        </form>
        
        <b>Weather:</b>&nbsp;{{city1Ctrl.current_city.weather[0].description}}<br />
        <b>Temperature:</b>&nbsp;{{city1Ctrl.current_city.main.temp | number:0}}<br />
        <b>Humidity %:</b>&nbsp;{{city1Ctrl.current_city.main.humidity}}<br />
        <b>Wind Speed:</b>&nbsp;{{city1Ctrl.current_city.wind.speed}}<br />
      </div>
      
      <div class='col-md-4' ng-controller='city2Controller as city2Ctrl'>
        <form name='cityForm2' ng-submit='cityForm2.$valid && city2Ctrl.getData(city2Ctrl.city)'  class='animated zoomIn'>
          <h3>City 2: {{city2Ctrl.city || city2Ctrl.current_city.name}}</h3>
          <div class='form-group well'>
            <input type="text" class="form-control" id="city2" placeholder="Enter City Name" ng-model='city2Ctrl.city' required><br />
            <button type="submit" class="btn btn-default btn-sm">Submit</button>
          </div>
        </form>
        
        <b>Weather:</b>&nbsp;{{city2Ctrl.current_city.weather[0].description}}<br />
        <b>Temperature:</b>&nbsp;{{city2Ctrl.current_city.main.temp | number:0}}<br />
        <b>Humidity %:</b>&nbsp;{{city2Ctrl.current_city.main.humidity}}<br />
        <b>Wind Speed:</b>&nbsp;{{city2Ctrl.current_city.wind.speed}}<br />
      </div>
      
      <div class='col-md-4' ng-controller='city3Controller as city3Ctrl'>
        <form name='cityForm3' ng-submit='cityForm3.$valid && city3Ctrl.getData(city3Ctrl.city)'  class='animated zoomIn'>
          <h3>City 3: {{city3Ctrl.city || city3Ctrl.current_city.name}}</h3>
          <div class='form-group well'>
            <input type="text" class="form-control" id="city3" placeholder="Enter City Name" ng-model='city3Ctrl.city' required><br />
            <button type="submit" class="btn btn-default btn-sm">Submit</button>
          </div>
        </form>
        
        <b>Weather:</b>&nbsp;{{city3Ctrl.current_city.weather[0].description}}<br />
        <b>Temperature:</b>&nbsp;{{city3Ctrl.current_city.main.temp | number:0}}<br />
        <b>Humidity %:</b>&nbsp;{{city3Ctrl.current_city.main.humidity}}<br />
        <b>Wind Speed:</b>&nbsp;{{city3Ctrl.current_city.wind.speed}}<br />
      </div>
    </div>
    
    <script style='text/javascript' src='assets/js/jquery-2.1.4.min.js'></script>
    <script style='text/javascript' src='assets/js/npm.js'></script>
    <script style='text/javascript' src='assets/js/bootstrap.min.js'></script>
    <script style='text/javascript' src='assets/js/angular.min.js'></script>
    <script style='text/javascript' src='assets/js/build/open-weather-map.js'></script>
  </body>
</html>